
h1
{
  font-family: 'Bungee Inline';
  color: #9d0007;
  padding: 10px 0;
  line-height: 50px;
  height: 50px;
  margin-left: 40%;
}

.container
{
  display: flex;
  padding: 40px;
}

.sidebar
{
  flex: 0 0 150px;
  border: 1px solid green;
  height: 100%;
  width: 175px;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #e9f5dc;
  /overflow-x: hidden;  /*Disable horizontal scroll */
  padding: 30px;
	min-height: 100%;
}

#products-list-container
{
  flex: 1 1 auto;
	width: 100%;
	margin: 10px;
	padding: 5px;
	display: flex;
	flex-wrap: wrap;
}

.card
{
  /* height: 195px;

	border: 1px solid #fcbdc2;
	margin: 5px; */
  flex: 0 0 195px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 10px;
  text-align: center;
  font-family: arial;
}

img
{
  width: 100px;
  height: 100px;
}
